:root {
    --player: #ff0000;
    --orb: #0011ff;
    --coin: #ffee00;
    --bg: #fefefe;
    --key: #ccc;
    --endzone: #99ff00;
}
.player {
    background-color: #ff0000;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;


}
